
<ion-header>
    
      <ion-navbar color="primary"  style="height:70px">
        <ion-title style="margin-top:15px"><h2>ព័ត៌មានសេដ្ឋកិច្ច</h2></ion-title>
        <button color="primary" ion-button icon-only  (click)="onclickSetting()" style="float:right;height:30px">
            <ion-icon name="md-cog"></ion-icon>
          </button>
      </ion-navbar>
    
    </ion-header>

  
  <ion-content padding style="background-color:#efeff5">
     
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  
    <ion-item style="background-color:#efeff5">
      <ion-card *ngFor="let content of contents">
        <ion-card-content>
          <h3>{{content.title}}</h3>
        </ion-card-content>
        <ion-card-content>
          <img src="{{this.link}}/storage/{{content.path}}" >
        </ion-card-content>
        <ion-card-content>
          <p>{{content.description}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
   
      
  
  
  
  </ion-content>
  
  <ion-footer >
    <ion-toolbar color="primary">
  
      <ion-grid >
        <ion-row >
          <ion-col col-5>
            <div style="text-align:center">
                <h4 (click)="onclickHome()" style="color:white ;margin-top:0px">ព័ត៌មានថ្មីៗ</h4>
                
            </div>
          </ion-col>
          <ion-col col-2>
            <div style="text-align:center;" >
                <button ion-button icon-only (click)="openMenu()" color="light" style="margin-top:-10px">
                    <ion-icon  name="ios-apps" color="danger"></ion-icon>
                    <!--<img src="assets/imgs/btvlogo.png" style="width:100%;height:90%;float:left;margin:auto"  imageViewer />-->
                  </button>
  
            </div>
          </ion-col>
          <ion-col col-5>
            <div style="text-align:center">
              
                <h4 style="color:white;margin-top:0px" (click)="onclickWatchnow()">ទស្សនាកម្មវិធី</h4>
                
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </ion-toolbar>
  </ion-footer>