<!--
  Generated template for the RegisterPhonePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oldgreen">
    <ion-title>RegisterPhone Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

 
  <ion-list >
        <ion-item>
          <ion-label floating>first Name</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Last Name</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Phone Number</ion-label>
          <ion-input type="number" value=""></ion-input>
        </ion-item>
  
      <div padding>
        <button ion-button color="oldgreen" block>Register Now</button>
      </div>

  </ion-list>
</ion-content>
