
<ion-header>
  
    <ion-navbar>
      <ion-title>login</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <div><h4>Login with your phone now !!</h4></div>
    <button ion-button (click)="login()">Login using your phone number</button>
  </ion-content>
  