<ion-header>
  <ion-navbar color="danger">
    <ion-title >
      Facebook Voideo embed
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let video of videos">
  <ion-card-header>
    {{video.title}}
  </ion-card-header>
  <ion-card-content>

    <iframe width="100%" height="600px" 
    [src]="video.video | fb" frameborder="0" allowfullscreen>
  </iframe>
  </ion-card-content>
</ion-card>
</ion-content>