<ion-header id="header_nav">
  <ion-navbar color="oldgreen" >
    
    <ion-title>
      <h2 *ngIf="this.singal == false" style="color:white">ព័តមានថ្មីៗ</h2>
      <h2 *ngIf="this.singal == true && contents.length == 0">No Posts</h2>
      <h2 *ngIf="this.singal == true && contents.length > 0">{{ contents[0]['kh_news_type_name'] }}</h2>
    </ion-title>
    <ion-buttons right>
      <a class="a_setting">
        <ion-icon (click)="registerphone()" name="ios-person-add" style="zoom:1.5;"></ion-icon>
      </a>
      
    </ion-buttons>
    <ion-buttons right>
      <a class="a_setting">
        <ion-icon (click)="liveaudio()" name="md-radio" style="zoom:1.5;"></ion-icon>
      </a>
      
    </ion-buttons>
    <ion-buttons right>
      <a class="a_setting">
        <ion-icon (click)="onclickSetting()" name="md-cog" style="zoom:1.5;"></ion-icon>
      </a>
    </ion-buttons>  
   
    <ion-buttons right>
      <a class="a_setting">
        <ion-icon (click)="login()" name="md-cog" style="zoom:1.5;"></ion-icon>
      </a>
    </ion-buttons>
    <ion-buttons right>
      <a class="a_setting">
        <ion-icon (click)="live()" name="md-cog" style="zoom:1.5;"></ion-icon>
      </a>
    </ion-buttons>  
  </ion-navbar>

      <shrinking-segment-header [scrollArea]="myContent" headerHeight="230">
        
          <ion-slides *ngIf="contents && contents.length"   autoplay="3000" loop="true" speed="1000" pager>
            <ion-slide *ngFor="let content of contents" >
              <div>
               <img src="{{content.domain}}{{content.for_feed}}" />
                <div class="bottom-left">{{content.title}}</div>
              </div>
            </ion-slide>
        </ion-slides>
      
         
              <!-- <ion-slides *ngIf="contents && contents.length"  #imgSlides pager>
                  <ion-slide *ngFor="let content of contents">
                      <img src="{{content.link}}/{{content.for_feed}}" />
                    </ion-slide>
              </ion-slides>
            -->
         
      </shrinking-segment-header>
      <ion-toolbar color="light" mode="md">
        <ion-segment color="dark" mode="md" [(ngModel)]="section">
          <ion-segment-button value="one">
            <h5>Bayon</h5>
            <!-- <ion-icon name="home"></ion-icon> -->
          </ion-segment-button>
          <ion-segment-button value="two">
            <!-- <ion-icon name="cog"></ion-icon> -->
            <h5>BTV</h5>
          </ion-segment-button>
          <ion-segment-button value="three">
            <!-- <ion-icon name="chatbubbles"></ion-icon> -->
            <h5>Radio</h5>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>



</ion-header>

<!-- <ion-content id="content" style="background-color:#e6e6e6" (ionScroll)="scroll($event)" fullscreen #myContent> -->
  <!-- <ion-content id="content" style="background-color:white"  fullscreen #myContent> -->
    
  <!-- <div id="refresh">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  </div> -->

<!--  
    <ion-refresher id="refresh" (ionRefresh)="doRefresh($event)" >
      <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
       style="margin-top:-45px;margin-left:0%;">

      </ion-refresher-content>
    </ion-refresher> -->
  


    <ion-content id="content" style="background-color:#e6e6e6" fullscreen #myContent (ionScroll)="scroller($event)">
    
     <ion-refresher (ionRefresh)="doRefresh($event)">
         <ion-refresher-content style="margin-top:-45px;"></ion-refresher-content>
     </ion-refresher>
     
     <!-- <ion-item *ngFor="let content of contents"  >
       <span (click)="detail()">     
         <img src="{{content.link}}/{{content.for_feed}}" />
         <ion-badge style="float:right; margin-right: 2%;"   *ngIf="content.news_type_name == 'International'" class="International">{{content.kh_news_type_name}}</ion-badge>
         <ion-badge style="float:right; margin-right: 2%;"   *ngIf="content.news_type_name == 'National'" class="National">{{content.kh_news_type_name}}</ion-badge>
         <ion-badge style="float:right; margin-right: 2%;"   *ngIf="content.news_type_name == 'Sport'" class="Sport">{{content.kh_news_type_name}}</ion-badge>
         <ion-badge style="float:right; margin-right: 2%;"   *ngIf="content.news_type_name == 'Entertainment'" class="Entertainment">{{content.kh_news_type_name}}</ion-badge>
         <ion-badge style="float:right; margin-right: 2%;"   *ngIf="content.news_type_name == 'General'" class="General">{{content.kh_news_type_name}}</ion-badge>
         <ion-badge style="float:right; margin-right: 2%;"   *ngIf="content.news_type_name == 'Technoloy'" class="Technoloy">{{content.kh_news_type_name}}</ion-badge>
       </span>
       <div class="detail">
         <div (click)="detail()">
             <p style="font-size: 18px; color:#222; font-weight: bold; ">{{content.title}}</p><br>
             <p style="font-size: 14px; color:#222;">{{content.description}}</p><br>
         </div>
         <a (click)="shareInfo('', '', '', content.link+'/detail'+content.id)"><ion-icon name="ios-share-outline" style="zoom: 2.0; color:rgb(0, 110, 255);"></ion-icon></a>
       </div>
       <div class="domain">
           <p style="color: #DAA520;">
             {{content.link.split('https://www.')[1]}}
             <i style="float:right;">{{content.created_at}}</i>
           </p>
       </div>
   
     </ion-item> -->

     <ion-list>
        
        <ion-item *ngFor="let content of contents" (click)="detail(content.title, content.detail, content.created_at)">
         
          <ion-thumbnail item-start>
            <img src="{{content.domain}}{{content.for_square}}" />
          </ion-thumbnail>
          <p style="font-size: 18px; color:#222; font-weight: bold; ">{{content.title}}</p>
          <p style="font-size: 14px; color:#222;">{{content.description}}</p><br>
          <!-- <button ion-button clear item-end>View</button> -->
          <div style="float:left">
              <ion-badge style="float:right; margin-right: 2%;"   *ngIf="content.news_type_name == 'International'" class="International">{{content.kh_news_type_name}}</ion-badge>
              <ion-badge style="float:right; margin-right: 2%;"   *ngIf="content.news_type_name == 'National'" class="National">{{content.kh_news_type_name}}</ion-badge>
              <ion-badge style="float:right; margin-right: 2%;"   *ngIf="content.news_type_name == 'Sport'" class="Sport">{{content.kh_news_type_name}}</ion-badge>
              <ion-badge style="float:right; margin-right: 2%;"   *ngIf="content.news_type_name == 'Entertainment'" class="Entertainment">{{content.kh_news_type_name}}</ion-badge>
              <ion-badge style="float:right; margin-right: 2%;"   *ngIf="content.news_type_name == 'General'" class="General">{{content.kh_news_type_name}}</ion-badge>
              <ion-badge style="float:right; margin-right: 2%;"   *ngIf="content.news_type_name == 'Technoloy'" class="Technoloy">{{content.kh_news_type_name}}</ion-badge>
          </div>
          <div class="domain">
              <p style="color: white">
                <!-- {{content.link.split('https://www.')[1]}} -->
                <i style="float:right;">{{content.created_at}}</i>
              </p>
          </div>
          <ion-icon clear color="oldgreen" item-right name="ios-arrow-forward"></ion-icon>
        </ion-item>
      
      </ion-list>

   </ion-content>

<ion-footer id="footer_nav">
  <ion-toolbar color="oldgreen">
    <ion-grid >
      <ion-row >
        <ion-col col-5 style="text-align:center;">
          <a id="topNews" class="a_main_menu" (click)="getNewContents($event)"><ion-icon id="feed" ios="ios-paper" md="md-paper" style="zoom: 2.0;"></ion-icon></a>            
        </ion-col>
        <ion-col col-2 style="text-align:center;">
          <a class="a_main_menu" (click)="openMenu()"><ion-icon  name="ios-apps" style="zoom: 2.0;"></ion-icon></a>
        </ion-col>
        <ion-col col-5 style="text-align:center">
            <a class="a_main_menu" (click)="onclickWatchnow()"><ion-icon ios="ios-videocam" md="md-videocam" style="zoom:2.0;"></ion-icon></a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>