.domain{
    background-color: #1f9490;
    // width: 100%;
    height: 20px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    
}

// .detail{
//     background-color:#1f9490;
//     padding:10px;
//     padding-top: 30px;
//     margin-top: -3px;
// }
// .content-style{
//     width:100%;
//     height:100%;
//    margin-left:4%;
//    margin-top:1%;
// }
.content_item{
    background-color:white;
    margin-bottom:-2px;
    float: left;
    width: 54%;
    margin-left:-4%;
    margin-top:-5px;
}

.a_setting {
    color: white;
    float:right;
    height:30px; 
    margin-right:20px;
    margin-top: 20px;
}

.a_setting:active {
    color: goldenrod;
}
.a_setting:visited {
    color:dimgray;
}
.a_main_menu {
    color: white;
}
.a_main_menu:active {
    color: goldenrod;
}
.a_main_menu:visited {
    color:dimgray;
}
#footer_nav {
    zoom: 0.6;
}
// ion-item{
//     width:45%;

// }
ion-content{
width:100%;
height:100%;
padding:0;
//margin-left:4%;
//background-color:white;
//padding-left:4%;
// margin-right:%;

}
// .scroll-content{
//     padding-top: 282px;
//     padding-bottom: 62px;
//     width:100%;
//     height:100%;
//    margin-left:4%;
//    margin-top:1%;
// }
page-home {
    .International{
    background-color: green;
    color:white;
    }
    .National{
    background-color: red;
    color:white;
   }
   .Sport{
    background-color: #1a1aff;
    color:white;
   }  
   .Technoloy{
    background-color: #ff9900;
    color:white;
   }   
   .General{
    background-color: #999966;
    color:white;
   } 
   .Entertainment{
    background-color: #00b3b3;
    color:white;
   }
}
shrinking-segment-header {
    
           background-color: #363636;
           color: #fff;
           display: flex;
           align-items: center;
           justify-content: center;
            
        //    img {
        //     //    border-radius: 50%;
        //        width: 75px;
        //        height: 10px;
        //        margin-right: 15px;
        //    }
    
       }
    // shrinking-segment-header {
    //     background-color: #222;
    // }
    .swiper-slide{
        height:200px;
        margin-top:20px;
    }
    .fadeOut {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 100ms, opacity 200ms;
    }
    .fadeIn {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 200ms;
    }
    .bottom-left {
        position: absolute;
        //bottom: 8px;
        //top: 50%;
        background-color: #404040;
        color:white;
        width: 100%;
        bottom: 0px;
       }
      