<ion-header>
    
      <ion-navbar color="oldgreen">
        <!-- <ion-title>detailContent</ion-title> -->
        <ion-title (click)="clickhome()">Bayon TV</ion-title>
       <!-- <ion-title> <img style="height:40px;width:100px" src="assets/imgs/background.png"/></ion-title> -->
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content padding >
      <h1 style="font-weight: bold;text-align:center">{{content.title}}</h1>
      <div [innerHTML]="content.detail"></div>
      <!-- <p>Created at: <i>{{content.date | date: 'EEE-MMMM-yyyy'}}</i></p> -->
    </ion-content>
