<ion-header>
  <ion-navbar color="oldgreen">
    <ion-title>
      Audio
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <button ion-button color="oldgreen" full (click)="startAudio()">play Audio</button>

</ion-content>
