// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  first:      #ffffff,
  blue1:    #010066,
  orange1:    #ff751a,
  white-blue1: #cce6ff,
  yellow1: #fcd648,
  golden: #DAA520,
  bggray:#f2f2f2,
  brown1: #a56826,
  oldgreen: #1f9490,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

// @import "roboto";
// @import "noto-sans";


@font-face {
  font-family: 'Moul';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/khmer/Moul/Moul.ttf');
}
@font-face {
  font-family: 'Battambang';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/khmer/battambang/Battambang-Regular.ttf');
}
@font-face {
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/khmer/Hanuman/Hanuman.ttf');
}

$font-family-base: "Moul", sans-serif !default;
body{
font-family: "Moul" !important;
font-weight: 400 !important;
}

h1 {
  font-family: "Moul" !important;
  //font-size:20px !important;
  }

h2 {
font-family: "Moul" !important;
font-size:15px !important;
}
h3{
  font-family: "Battambang"!important;
  font-weight: bold;
}
h4{
  font-family: "Moul"!important;
  font-weight: bold;
  font-size:15px !important;
}