
<ion-header>

  <ion-navbar color="oldgreen">
    <ion-title>contactUs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item > 
    <ion-icon (click)="calladvertisement()"  color="danger" name='ios-call' item-start ></ion-icon>
    098 000 000
    <ion-note item-end>
    For Advertisement
    </ion-note>
  </ion-item>

  <ion-item > 
      <ion-icon (click)="gocontactus()"  color="danger" name='ios-map-outline' item-start ></ion-icon>
      Our Location
      
    </ion-item>

  <div #map id="map"></div>
</ion-content>
<ion-footer>
    <img src="assets/imgs/footerlogo.png"/>
</ion-footer>
