page-setting {

}
.toolbar-title-md {
    margin-right: 20%;
}
.alert-md [aria-checked=true] .alert-checkbox-icon {
    border-color: #1f9490;
    background-color: #1f9490;
}
.alert-head{
    
    font-size: 15px;
    background-color: #1f9490;
    
}
// .alert-button-group{
//     background-color: #1f9490;
// }
