<ion-header>
  <ion-navbar color="oldgreen" >  
    <ion-title style="text-align:center;">{{this.navParams.data}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
      <ion-list>
        <button ion-item (click)="selectNewsType()" >
          <ion-icon name="ios-list-box" item-start color="oldgreen"></ion-icon>
            Choose Category
        
        </button>
        <button ion-item (click)="onclickUpdate()">
          <ion-icon name="ios-construct" item-start color="oldgreen"></ion-icon>
            Update
          
        </button>
        <button ion-item (click)="gocontactus()">
          <ion-icon name="ios-contact" item-start color="oldgreen" ></ion-icon>
            Contact Us
         
        </button>
      </ion-list>


      <ion-item (click)="playlistPage()">
        <ion-icon  color="primary" name='ios-desktop' item-start  ></ion-icon>
        Guide line
        <ion-note item-end>
        How to use App
        </ion-note>
      </ion-item>
  <!-- <ion-item > 
      <ion-icon (click)="calladvertisement()"  color="danger" name='ios-call-outline' item-start ></ion-icon>
      098 000 000
      <ion-note item-end>
      For Advertisement
      </ion-note>
    </ion-item>
  

  
     <ion-item (click)="openfb()">
      <img src="assets/imgs/likepage.png"  style="width:100px;height:30px"/>
      <ion-note item-end>
      Like Us On FB
      </ion-note>
    </ion-item>  -->
</ion-content>
<!-- <ion-footer id="footer_nav">
    <ion-toolbar color="dark">
      <a>OK</a>
    </ion-toolbar>
  </ion-footer> -->
  