
<ion-header>

  <ion-navbar color="oldgreen">
    <ion-title style="margin-top:15px">Update Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 style="color:red;text-align:center">Thank You For Update!!!</h1>

  <!-- <button color="danger" ion-button  (click)="check_for_update()" style="float:right">
    update now
 </button> -->
</ion-content>
