<ion-header>
  <ion-navbar color="oldgreen">
    <ion-title>YouTube</ion-title>
  </ion-navbar>

  
  <div class="youtube-player-header">
      <div id="player" class="embed-responsive embed-responsive-16by9">
        <div id="placeholder" style="width: 100%;height:300px" class="embed-responsive-item respon">
          
        </div>
        <div class="embed-responsive-item" style="width: 100% ;z-index: 90; background-color: black; background: url('images/cover.png'); background-size:cover;" *ngIf="!onPlaying"></div>
      </div>
  </div>
</ion-header>

<ion-content class="home">
  

  <ion-slides style="height:auto" class="image-slider" loop="false" slidesPerView="2">
    <ion-slide *ngFor="let post of data1">
      <div>
        <ion-card class="adv-map ionic-card" (click)="playVideo($event, post)">
          <div style="position: relative">
            <div class="sixteen-nine">
              <div class="content">
                <img src="{{post.snippet.thumbnails.medium.url}}">
              </div>
            </div>
          </div>
          <ion-item style="padding-top: 10px;">
            <h2 class="item-text-wrap">{{post.snippet.title}}</h2>
          </ion-item>

        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-slides style="height:auto" class="image-slider" loop="false" slidesPerView="2">
    <ion-slide *ngFor="let post of data2">
      <div>
        <ion-card class="adv-map ionic-card" (click)="playVideo($event, post)">
          <div style="position: relative">
            <div class="sixteen-nine">
              <div class="content">
                  <img src="{{post.snippet.thumbnails.medium.url}}">
              </div>
            </div>
          </div>
          <ion-item style="padding-top: 10px;">
            <h2 class="item-text-wrap">{{post.snippet.title}}</h2>
          </ion-item>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>