.home {
    //margin-top: 56.25vw;
   
    scroll-content {
        margin-top: 5px !important;
    }
    ion-card.adv-map p {
        font-size: 0.7em !important;
    }

    button[fab].fab-map {
        top: calc(100% - 35px);
        z-index: 50;
    }

    .item-bold {
    font-weight: bold;
    }

    ion-content.cards-bg {
        background-color: #f4f4f7;
    }

    .item-text-wrap { /* negate the nowrap CSS from .ionic .item */
        overflow: visible;
        text-overflow: initial;
        white-space: initial;
    }
}

ion-nav > ion-page > ion-header > .youtube-player-header.toolbar.statusbar-padding:first-child {
    padding-top: 0px;
    height: initial !important;
}
/////////////////////////////////
.card1{
    height:150px;
    width:100%;
}
@media screen and (min-width: 320px){
    .ionic-card{
        height:230px;
    }

    .respon{
        height:200px;
    }
}

@media screen and (max-width: 414px){
    .ionic-card{
        height:auto;
    }
   
   
}
    @media screen and (max-width: 1024px){
        .ionic-card{
            height:auto;
        }
       
}    
    


 