<!--
  Generated template for the PlaylistListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" style="height:70px">
    <ion-title style="margin-top:15px">playlistList</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item *ngFor="let item of posts" >
        <ion-card-title>
          <h2>
          {{item.snippet.title}}
        </h2>
        </ion-card-title>
        <ion-card-content>
            <iframe width="100%" height="315"
            [src]="item.snippet.resourceId.videoId | youtube" frameborder="0" allowfullscreen>
          </iframe> 
       <!-- <img [src]="item.snippet.thumbnails.high.url"/> -->
      <!-- <iframe width="560" height="315" src="youtubeitem.id.videoId|" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe> -->
      
    <!-- <button ion-button (click)="onclickWatchnow(item.id)">play</button> -->
        </ion-card-content>
    </ion-item>


</ion-content>
